.img-account-profile {
    height: 10rem;
}

.rounded-circle {
    border-radius: 50% !important;
}

.card {
    margin-bottom: 10%;
    width: 25%;
    min-width: fit-content;
}
.card-header {
    padding: 1rem 1.35rem;
    font-size: 1.5em;
}

@media (max-width: 767px) {
    #deleteAccountButton {
        margin-top: 1rem;
    }
}
