@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --primary-background-color: #0077b6;
    --secondary-background-color: #023e8a;
    --sidebar-text-color: #ffffff;
    --sidebar-selected-color: #000000;

    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0077b6;
    transition: 0.25s;
}

#main-container {
    min-height: 100vh;
    height: fit-content;
    position: sticky;
    top: 0;
}

.sidebar {
    position: relative;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow: scroll;
}

.sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary {
    color: var(--primary-background-color);
}

.fa-secondary {
    color: var(--secondary-background-color);
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.sidebar:hover .logo svg {
    transform: rotate(-180deg);
}

#dashboard_content {
    position: relative;
    display: grid;
    width: 100%;
    grid-auto-rows: min-content min-content minmax(0px, min-content);
    grid-template-columns: 100%;
}

#content {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 100%;
    justify-content: center;
    align-items: center;
}

.hr-color {
    color: var(--sidebar-text-color);
}

.close-btn,
.open-btn {
    margin: 10px 20px 10px 16px;
    padding: 0px;
}

.list-itembox {
    display: flex;
    gap: 10px;
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

#navbarSupportedContent {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: 8px;
    justify-content: space-between;
}

#navbar-btn {
    flex-shrink: 0;
}

#search-container {
    min-width: 30%;
    max-width: 70%;
}

#hamburger span {
    color: var(--sidebar-text-color);
}

/* Contacts */

#contact-nav {
    grid-row: 1;
    grid-column: 1;
    margin-bottom: 0;
    margin: 25px;
    position: sticky;
    padding: 0;
    top: 25px;
}

#contact_container {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 25px 25px 25px;
    gap: 20px;
    grid-row: 3;
    grid-column: 1;
}

.contact {
    position: relative;
    background-color: rgb(182, 182, 182);
    border-radius: 8px;
    padding: 15px 5px 15px 15px;
    min-width: 424px;
    min-height: min-content;
    height: min-content;
    max-height: micontentn-;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.contact-interior,
.contact-top {
    display: flex;
}

.contact-top .context-button-container {
    margin-left: auto;
}

.contact-top .context-button {
    background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="%23000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>');
    background-size: 100% 100%;
    padding: 0;
    border: none;
    background-color: transparent;
    transition: all 0.1s;
    height: 40px;
    width: 40px;
}

.contact-top .context-button:hover {
    filter: invert(100%);
}

.contact-interior {
    gap: 12px;
    overflow: hidden;
}

.contact-interior img {
    height: 125px;
    width: 125px;
}

.contact-info {
    flex-grow: 1;
    max-width: inherit;
}

#table-container {
    overflow-x: auto;
    flex-grow: 1;
    height: calc(100% - 4px);
}

#contacts-table {
    overflow: scroll;
}

.info_container {
    display: flex;
    margin-top: 7px;
    gap: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#contextmenu {
    position: absolute;
    background-color: white;
    height: 88px;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.contextmenu-item {
    display: flex;
    user-select: none;
    cursor: pointer;
}

.contextmenu-item + .contextmenu-item {
    margin-top: 2px;
}

.contextmenu-item a {
    display: flex;
    color: #fff;
}

#contextmenu-edit {
    background-color: var(--bs-primary);
    border-radius: 4px 4px 0px 0px;
}

#contextmenu-edit:hover {
    background-color: #0b5ed7;
}

#contextmenu-delete {
    background-color: var(--bs-danger);
    border-radius: 0px 0px 4px 4px;
}

#contextmenu-delete:hover {
    background-color: #bb2d3b;
}

.contextmenu-item a span {
    margin-right: 4px;
}

.dropdown-menu {
    min-width: 6rem;
    background-color: rgb(182, 182, 182);
    padding: 0;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.4);
}

/* Pages */

#page-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.2s all;
}

.page {
    width: 50%;
    margin: auto;
    transition: 0.2s all;
    position: sticky;
    top: 10%;
}

.page-tab {
    background-color: rgb(182, 182, 182);
    height: 50px;
    border-radius: 8px 8px 0 0;
}

.page-tab .exit-page {
    height: inherit;
    width: inherit;
    font-size: 50px;
    cursor: pointer;
    user-select: none;
}

.page-tab .exit-page:hover {
    color: white;
    transition: all 0.1s;
}

.page-content {
    background-color: white;
    padding: 20px;
    border-radius: 0 0 8px 8px;
}

#mobile-navbar {
    visibility: hidden;
    background-color: white;
    background-color: var(--sidebar-selected-color);
    padding: 0 8px;
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

.mobile-item {
    display: flex;
    color: var(--sidebar-text-color);
    height: 64px;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    font-size: 60px;
    flex-grow: 1;
}

.mobile-item-icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
}

.mobile-item.active {
    background-color: var(--sidebar-text-color);
    color: var(--sidebar-selected-color);
}

.vr {
    background-color: var(--sidebar-text-color);
    width: 2px;
    margin: 8px 0;
}

/* Media queries */

@media (max-width: 767px) {
    #side_nav {
        margin-left: -250px;
        position: fixed;
        height: 100vh;
        z-index: 1;
    }

    #mobile-navbar {
        visibility: visible;
    }

    .page {
        top: 5%;
        width: 95%;
    }
}

@media (max-width: 520px) {
    #search-container {
        min-width: 10%;
    }
}

@media (max-width: 494px) {
    #add-contact-text {
        display: none;
    }
}

@media (max-width: 475px) {
    .contact {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 440px) {
    .contact-info {
        transition: all 0.2s;
        font-size: 3.5vw;
    }

    .contact-interior img {
        transition: all 0.2s;
        height: 125px;
        width: 125px;
    }
}

/* Small screens */
@media only screen and (max-width: 600px) {
    .sidebar {
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .sidebar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }
}

/* Large screens */
@media only screen and (min-width: 600px) {
    .sidebar {
        position: relative;
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .sidebar:hover {
        width: 21rem;
    }

    .sidebar:hover .link-text {
        display: inline;
    }

    .sidebar:hover .logo svg {
        margin-left: 14rem;
    }

    .sidebar:hover .logo-text {
        left: 0px;
    }
}

#contextmenu {
    position: absolute;
    background-color: white;
    height: 88px;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    cursor: pointer;
}

.contact-interior img {
    transition: all 0.2s;
    height: 125px;
    width: 125px;
}
