#side_nav {
    background-color: #000000;
    min-width: 60px;
    max-width: 60px;
}

#side_nav.active {
    min-width: 250px;
    max-width: 250px;
}

#content {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.hr-color {
    color: #eee;
}

.close-btn, .open-btn {
    margin: 10px 20px 10px 16px;
    padding: 0px;
}

.sidebar li {
    padding: 15px 10px 15px 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    transition: 0.25s;
    cursor: pointer;
}

.sidebar li.active {
    background: #eee;
}

.sidebar li:not(.active):hover {
    background: rgba(238, 238, 238, 0.2);
}

.sidebar li.active .list-itembox, sidebar li.active .list-itembox:hover {
    color: #000;
}

.sidebar li .list-itembox {
    color: #fff;
}

@media(max-width: 767px) {
    #side_nav {
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }
}

.list-itembox {
    display: flex;
    gap: 10px;
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

/* Contacts */

#contact_container {
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
    gap: 20px;
}

.contact {
    position: relative;
    background-color: rgb(182, 182, 182);
    border-radius: 8px;
    padding: 15px 5px 15px 15px;
    min-width: 424px;
    width: 28%;
    max-width: 30%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.contact-interior, .contact-top {
    display: flex;
}

.contact-top .context-button {
    font-size: 2em;
    margin-left: auto;
    cursor: pointer;
    transition: all 0.1s;
    height: 32px;
    width: 32px;
    user-select: none;
}

.contact-top .context-button:hover {
    color: white;
}

.contact-interior {
    gap: 12px;
    overflow: hidden;
}

.contact-interior img {
    height: 125px;
    width: 125px;
}

.contact-info {
    flex-grow: 1;
    max-width: inherit;
}

.info_container {
    display: flex;
    margin-top: 7px;
    gap: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media(max-width: 475px) {
    .contact {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
}

@media(max-width: 400px) {
    .contact-info {
        font-size: 4vw
    }

    .contact-interior img {
        height: 6em;
        width: 6em;
    }
}

#contextmenu {
    position: absolute;
    background-color: white;
    height: fit-content;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.contextmenu-item {
    display: flex;
    padding: 10px;
}

.contextmenu-item span {
    margin-right: 4px;
}

.contextmenu-item:hover {
    background-color: rgb(182, 182, 182);
}
