body {
    background-color: #3a86ff;
}

#side_nav {
    background-color: #000000;
    min-width: 60px;
    max-width: 60px;
}

#side_nav.active {
    min-width: 250px;
    max-width: 250px;
}

#content {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: grid;
    grid-auto-rows: min-content min-content minmax(0px, min-content)
}

.hr-color {
    color: #eee;
}

.close-btn, .open-btn {
    margin: 10px 20px 10px 16px;
    padding: 0px;
}

.sidebar li {
    padding: 15px 10px 15px 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    transition: 0.25s;
    cursor: pointer;
}

.sidebar li.active {
    background: #eee;
}

.sidebar li:not(.active):hover {
    background: rgba(238, 238, 238, 0.2);
}

.sidebar li.active .list-itembox, sidebar li.active .list-itembox:hover {
    color: #000;
}

.sidebar li .list-itembox {
    color: #fff;
}

.list-itembox {
    display: flex;
    gap: 10px;
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

/* Contacts */

#contact-nav {
    grid-row: 1;
    grid-column: 1;
    margin-bottom: 0;
    margin: 25px;
    position: sticky;
    padding: 0;
    top: 0;
}

#contact_container {
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
    gap: 20px;
    grid-row: 3;
    grid-column: 1;
}

.contact {
    position: relative;
    background-color: rgb(182, 182, 182);
    border-radius: 8px;
    padding: 15px 5px 15px 15px;
    min-width: 424px;
    min-height: min-content;
    height: min-content;
    max-height: min-content;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.contact-interior, .contact-top {
    display: flex;
}

.contact-top .context-button {
    font-size: 2em;
    margin-left: auto;
    cursor: pointer;
    transition: all 0.1s;
    height: 32px;
    width: 32px;
    user-select: none;
}

.contact-top .context-button:hover {
    color: white;
}

.contact-interior {
    gap: 12px;
    overflow: hidden;
}

.contact-interior img {
    height: 125px;
    width: 125px;
}

.contact-info {
    flex-grow: 1;
    max-width: inherit;
}

.info_container {
    display: flex;
    margin-top: 7px;
    gap: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#contextmenu {
    position: absolute;
    background-color: white;
    height: 88px;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.contextmenu-item {
    display: flex;
    padding: 10px;
    user-select: none;
    cursor: pointer;
}

.contextmenu-item span {
    margin-right: 4px;
}

.contextmenu-item:hover {
    background-color: rgb(182, 182, 182);
}

#page-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.2s all;
}

.page {
    width: 50%;
    margin: auto;
    transition: 0.2s all;
    position: sticky;
    top: 10%;
}

.page-tab {
    background-color: rgb(182, 182, 182);
    height: 50px;
    border-radius: 8px 8px 0 0;
}

.page-tab .exit-page {
    height: inherit;
    width: inherit;
    font-size: 50px;
    cursor: pointer;
    user-select: none;
}

.page-tab .exit-page:hover {
    color: white;
    transition: all 0.1s;
}

.page-content {
    background-color: white;
    padding: 20px;
    border-radius: 0 0 8px 8px;
}

/* Media queries */

@media(max-width: 767px) {
    #side_nav {
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }

    .page {
        width: 95%;
    }
}

@media(max-width: 475px) {
    .contact {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
}

@media(max-width: 440px) {

    .contact-info {
        transition: all 0.2s;
        font-size: 3.5vw
    }

    .contact-interior img {
        transition: all 0.2s;
        height: 28vw;
        width: 28vw;
    }
}
