@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	/* login variables */
	--color-login-button: #8AA2A9;
	--color-login-button-hover: #717C89;

	--border-radius-login-card: 50px;
	--border-radius-login-input: 5px;
}

body {
	font-family: 'Roboto', sans-serif;
	background: linear-gradient(90deg, rgba(0, 119, 182, 1) 0%, rgba(0, 119, 182, 1) 50%);
}

.inner-row {
	height: 100vh;
}

.primaryBg {
	background-color: rgba(0, 119, 182, 1);
}

.primaryBg:hover {
	background-color: rgba(2, 62, 138, 1);
}

.primaryColor {
	color: rgba(0, 119, 182, 1);
}

.primaryColor:hover {
	color: rgba(2, 62, 138, 1);
}

.form-box {
	background: #fff;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	border-radius: 15px;
}

.registration-form {
	display: none;
}

.sidebar {
	
}
